/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    margin: auto;
}

#mainContainer{
    border: 2px solid red;
    (min-width: 1024px) and (max-width: 1440px);
    height: auto;
    padding: 50px;
}

/* TAILLE DES POLICES */

.sizeH1{
    font-size: 22px;
    font-weight: 700;
}

.sizeH2{
    font-size: 22px;
    font-weight: 700;
}

.sizeH3{
    font-size: 16px;
    font-weight: 400;
}

.sizeH4{
    font-size: 18px;
    font-weight: 700;
}

.sizeH5{
    font-size: 17px;
    font-weight: 700;
}

.sizeH6{
    font-size: 16px;
    font-weight: 700;
}

.sizeSousTitre{
    font-size: 14px;
    font-weight: 400;
}


.color-bleu {
    color: #0065fc;
}
  
.color-bleu-clair {
    color: #deebff;
}
  
.color-gris {
    color: #f2f2f2;
}
  
.back-bleu {
    background-color: #0065fc;
}
  
.back-bleu-clair {
    background-color: #deebff;
}
  
.back-gris {
    background-color: #f2f2f2;
}

.back-blanc {
    background-color: white;
}

.decoration-none {
    text-decoration: none;
}
  
.bordure-none {
    border: none;
}
  
.texte-gras {
    font-weight: bold;
}

.flex-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexColumnCentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
  
.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.entete{
    border: 2px solid black;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.blocNav{
    border: 2px solid rgb(0, 255, 64);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 30px;
    margin-top: 0;
}

.nav1{
    border: 2px solid blue;
    padding-top: 15px;
}

.nav2{
    border: 2px solid purple;
    padding-top: 15px;
}

.decorationNone{
    text-decoration: none;
}

.lienColor{
    color: black;
}

.position{
    margin-top: 50px;
}

.barreNav {
    border-top: 1px solid transparent;
}
  
.barreNav:hover {
    border-top: 1px solid #0065fc;
    cursor: pointer;
}
  
.barreNav:hover > a {
    color: #0065fc;
}

.blocLogo{
    border: 2px solid red;
    width: 100%;
}

.titre{
    border: 2px solid blue;
    width: 100%;
    margin-top: 100px;
    font-size: 25px;
    font-weight: bolder;
}

.sousTitre{
    border: 2px solid red;
    width: 100%;
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
}

.desktop-none {
    display: none;
}

.barreDeRecherche{
    border: 2px solid green;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 0.5px solid #f2f2f2;
    margin-top: 50px;
}

.padding-search {
    padding-left: 20px;
}
  
.recherche {
    height: 50px;
    width: 100%;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.tailleIcon {
    height: 50px;
    width: 50px;
}

.boutonRecherche {
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
}

.boutonRecherche:hover {
    color: #0065fc;
    background-color: #f2f2f2;
}

/* FILTRES */

.margeFiltre {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
  }

#filtre{
    border: 2px solid yellow;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

.filtreBloc1{
    width: 35%;
    display: flex;
    align-items: center;
}

.filtreBloc2{
    width: 35%;
    display: flex;
    align-items: center;
}

.blocTexteIcon {
    display: flex;
    align-items: center;
    border: 2px solid #f2f2f2;
    width: 100%;
    height: 50px;
    border-radius: 30px;

}

.filtreIcon{
    margin: 20px;
    color: #0065fc;
}
 
.blocTexteIcon:hover {
    background-color: #f2f2f2;
}
  
.blocTexteIcon:hover {
    background-color: #f2f2f2;
}


/* INFO */

#info{
    border: 2px solid blue;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.infoIcon {
    width: 30px;
    height: 30px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 10px;
  }

/* Hébergements et Populaires */

#hebergementsPopulaires{
    border: 2px solid rgb(0, 217, 255);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 30px;
}

/* Hébergement */

.sizeH2{
    margin-left: 50px;
}

.hebergements{
    border: 2px solid rgb(0, 217, 255);
    width: 68%;
    display: flex;
    flex-direction: column;
    border-radius: 3%;
}

.bloc1{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-left: 50px;
}

.cardH{
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 20px 20px 20px 20px;
}

.cadreHeberg{
    height: 100px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    margin: 2px;
}

.cardH-txt{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 60px;
    margin: 10px;
}

.card-title{
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.card-subtitle{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}

.cardH-rating{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}

.bloc2{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 50px;
}

.h3Title{
    font-weight: bolder;
    margin: 50px;
}

/* Populaire */

.populaires{
    border: 2px solid rgb(0, 217, 255);
    width: 28%;
    display: flex;
    flex-direction: column;
    border-radius: 3%;
}

.bloc3cartes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 85%;
}
            
.cardPop{
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: row;
    border-radius: 10%;
}

.cadrePop{
    width: 80px;
    object-fit: cover;
    border-radius: 15% 0 0 15%;
    margin: 2px;
}

.cardPop-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Activités */

#activites{
    border: 2px solid red;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
}

.cardAct{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
}

.cardAct-content{
    width: 20%;
    height: 85%;
    display: flex;
    flex-direction: column;
    border: white;
    box-shadow: 0px 15px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.cadre{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.cardAct-title{
    font-size: 17px;
    margin-left: 20px;
}

/* Footer */

.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #d9d9d9;
    margin: auto;
}

.blocFoot{
    width: 30%;
    margin-left: 30px;
}

.h3Footer{
    font-size: 22px;
}

.lienFoot {
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* MEDIA QUERIE */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
    #mainContainer{
        max-width: 1024px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
    /* styles spécifiques pour les écrans d'une largeur minimale de 769px et maximale de 1024px */
    
    .sizeH1{
        font-size: 20px;
        font-weight: 700;
    }
    
    .sizeH2{
        font-size: 20px;
        font-weight: 700;
    }
    
    .sizeH3{
        font-size: 14px;
        font-weight: 400;
    }
    
    .sizeH4{
        font-size: 16px;
        font-weight: 700;
    }
    
    .sizeH5{
        font-size: 15px;
        font-weight: 700;
    }
    
    .sizeH6{
        font-size: 14px;
        font-weight: 700;
    }
    
    .sizeSousTitre{
        font-size: 12px;
        font-weight: 400;
    }

#mainContainer{
    margin: 0 auto;
}    

.entete{
    width: 100%;
}

.filtreEnsemble{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filtreBloc1{
    width: 50%;
}

.filtreBloc2{
    width: 50%;
}

#hebergementsPopulaires{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hebergements{
    width: 100%;
}

.populaires{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bloc3cartes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    margin: 20px;
}

.cardPop{
    width: 30%;
    height: 80%;
}

#activites{
    width: 100%;
}

.footer{
    display: flex;
    align-items: flex-start;
    width: 80%;
    margin: auto;
}

.blocFoot{
    width: 29%;
}
}

@media screen and (max-width: 768px) {
    /* styles spécifiques pour les écrans d'une largeur maximale de 768px */
  
#mainContainer{
    margin: 0 auto;
    height: auto;
}  

.sizeH2{
    margin: 0 auto;
}

.filtreEnsemble{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.H4Mobile{
    width: 100%;
}

.filtreBloc1{
    width: 100%;
}

.filtreBloc2{
    width: 100%;
}

#hebergementsPopulaires{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

.bloc3cartes{
    width: auto;
    height: auto;

}

.hebergements{
    height: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}

.bloc1{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bloc2{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#activites{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.margeMobile{
    margin-top: 40px;
    margin-bottom: 40px;
}

.cardAct{
    width: 100%;
    height: 1000px;
}

.cadre{
    width: 80%;
    height: 90px;
}

.cardAct-content{
    width: 80%;
    height: 120px;
}

.footer{
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}

}
  
