/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    margin: auto;
}

body{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    flex-wrap: wrap;
}

#mainContainer{
    max-width: 1440px;    
    padding: 0 50px;
    box-sizing: border-box;
    margin: 0 auto;
}

/* TAILLE DES POLICES */

.sizeH1{
    font-size: 22px;
    font-weight: 700;
}

.sizeH2{
    font-size: 22px;
    font-weight: 700;
}

.sizeH3{
    font-size: 16px;
    font-weight: 400;
}

.sizeH4{
    font-size: 18px;
    font-weight: 700;
}

.sizeH5{
    font-size: 17px;
    font-weight: 700;
}

.sizeH6{
    font-size: 16px;
    font-weight: 700;
}

.sizeSousTitre{
    font-size: 14px;
    font-weight: 400;
}

.color-bleu {
    color: #0065fc;
}
  
.color-bleu-clair {
    color: #deebff;
}
  
.color-gris {
    color: #f2f2f2;
}

.color-black{
    color: black;
}
  
.back-bleu {
    background-color: #0065fc;
}
  
.back-bleu-clair {
    background-color: #deebff;
}
  
.back-gris {
    background-color: #f2f2f2;
}

.back-blanc {
    background-color: white;
}

.decoration-none {
    text-decoration: none;
}
  
.bordure-none {
    border: none;
}
  
.texte-gras {
    font-weight: bold;
}

.euro{
    font-weight: bolder;
}

.flex-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexColumnCentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
  
.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.entete{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.blocNav{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 30px;
    margin-top: 0;
}

.nav1{
    padding-top: 15px;
}

.nav2{
    padding-top: 15px;
}

.decorationNone{
    text-decoration: none;
}

.lienColor{
    color: black;
}

.position{
    margin-top: 50px;
}

.logoNav {
    display: flex;
    flex-direction: row-reverse;    
}

.barreNav {
    border-top: 1px solid transparent;
}
  
.barreNav:hover {
    border-top: 1px solid #0065fc;
    cursor: pointer;
}
  
.barreNav:hover > a {
    color: #0065fc;
}

.margeLogo{
    margin-top: 30px;
}

.titre{
    width: 100%;
    margin-top: 100px;
    font-size: 25px;
    font-weight: bolder;
}

.sousTitre{
    width: 100%;
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
}

.desktop-none {
    display: none;
}

.barreDeRecherche{
    display: flex;
    align-items: center;
    margin-top: 50px;
    border-radius:15px 2px solid #f2f2f2;   
}

.padding-search {
    padding-left: 20px;
}
  
.recherche {
    height: 50px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.bordureIcon{
    border-radius: 15px 0 0 15px;
}

.tailleIcon {
    height: 50px;
    width: 50px;
}

.boutonRecherche {
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
}

.boutonRecherche:hover {
    color: #0065fc;
    background-color: #f2f2f2;
}

/* FILTRES */

.margeFiltre {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
  }

.filtre{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 20px;
}

.filtreTexte{
    margin-right: 15px;
}

.filtreBloc1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.filtreBloc2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.blocTexteIcon {
    display: flex;
    align-items: center;
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;

}

.filtreIcon{
    margin: 20px;
    color: #0065fc;
}
 
.blocTexteIcon:hover {
    background-color: #f2f2f2;
}
  
.blocTexteIcon:hover {
    background-color: #DEEBFF;
}


/* INFO */

.info{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.infoIcon {
    width: 30px;
    height: 30px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 10px;
  }

/* Hébergements et Populaires */

#hebergementsPopulaires{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 30px;
}

/* Hébergement */

.margeTitre{
margin-left: 50px;
margin-top: 30px;
margin-bottom: 30px;
}

.hebergements{
    width: 65%;
    display: flex;
    flex-direction: column;
    border-radius: 3%;
}

.bloc1{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-left: 50px;
}

.cardH{
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 20px 20px 20px 20px;
    padding: 5px;
}

.artHebergement{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 20px 20px 20px 20px;
}

.cadreHeberg{
    height: 100px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;

}

.cardH-txt{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70px;
    margin: 10px;
}

.card-title{
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.card-subtitle{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}

.cardH-rating{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}

.bloc2{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 50px;
}

/* Populaire */

.populaires{
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 3%;
}

.titreIcon{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.margePop{
    margin-left: 20px;
}

.margeIcon{
    margin-left: 150px;
}

.bloc3cartes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    gap: 20px;
}
            
.cardPop {
    width: 90%;
    border-radius: 20px;
    padding: 5px;
}

.artPop {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

.cadrePop{
    width: 100px;
    object-fit: cover;
    border-radius: 15% 0 0 15%;
}

.cardPop-content{
    width: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.margeH6{
    height: 20%;
    margin-top: 10px;
    margin-bottom: 0;
}

.margeSt{
    margin-top: 5px;
    margin-bottom: 0;
}

.margeSt2{
    margin-top: 20px;
}

.cardPopRating{
    margin-top: 45px;
}

.cardPopRating2{
    margin-top: 22px;
}

.cardPop-rating{
    margin-top: 50px;
}

/* Activités */

#activites{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card{
    width: 20%;
}

.cardAct{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
}

.cardAct-content{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    border: white;
    box-shadow: 0px 15px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.cadre{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.cardAct-title{
    font-size: 17px;
    margin-left: 20px;
}

/* Footer */

.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #d9d9d9;
    margin: auto;
}

.blocFoot{
    width: 30%;
    margin-left: 30px;
}

.h3Footer{
    font-size: 22px;
}

.lienFoot {
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* MEDIA QUERIE */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* styles spécifiques pour les écrans d'une largeur minimale de 769px et maximale de 1024px */
    
    .sizeH1{
        font-size: 20px;
        font-weight: 700;
    }
    
    .sizeH2{
        font-size: 20px;
        font-weight: 700;
    }
    
    .sizeH3{
        font-size: 14px;
        font-weight: 400;
    }
    
    .sizeH4{
        font-size: 16px;
        font-weight: 700;
    }
    
    .sizeH5{
        font-size: 15px;
        font-weight: 700;
    }
    
    .sizeH6{
        font-size: 14px;
        font-weight: 700;
    }
    
    .sizeSousTitre{
        font-size: 12px;
        font-weight: 400;
    }

#mainContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 30px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    margin: 0 auto;
}    

.entete{
    width: 100%;
}

#filtre{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.sizeH4{
    width: 100%;
}

.filtreBloc1{
    width: 48%;
}

.filtreBloc2{
    width: 48%;
}

.blocTexteIcon{
    width: 160px;
}

#hebergementsPopulaires{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}

.hebergements{
    width: 100%;
}

.bloc1{
    margin-left: 30px;
}

.bloc2{
    margin-left: 30px;
}

.populaires{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.margeTitre{
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titreIcon{
    justify-content: space-between;
}

.margeIcon{
    margin-right: 25px;
}

.bloc3cartes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    height: 150px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.cardPop{
    width: 30%;
    height: 80%;
}

.cadrePop{
    width: 30%;
}

.margeH6{
    line-height: 19px;
}

.margeSt{
    line-height: 16px;
    margin-top: 20px;
}

.cardPop-rating{
    margin-top: 30px;
}


#activites{
    margin-top: 30px;
    flex-wrap: wrap;
}

.margeTab{
    margin-left: 10px;
}

.card{
    width: 100%;
}

.cardAct{
    width: 100%;
    height: 270px;
    margin-top: 0;
}

.cardAct-content{
    width: 22%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.cadre{
    height: 70%;
}

.cardAct-title{
    height: 19px;
}

.footer{
    display: flex;
    align-items: flex-start;
    width: 145%;
    margin: auto;
}

.blocFoot{
    width: 29%;
}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    /* styles spécifiques pour les écrans d'une largeur maximale de 768px */

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 3887.52px;
    overflow-x: hidden;
}

#mainContainer{
    width: 100%;
    padding: 0;
    margin: 0 auto;
}  

.sizeH1{
    font-size: 18px;
    font-weight: 700;
}

.sizeH2{
    font-size: 18px;
    font-weight: 700;
}

.sizeH3{
    font-size: 12px;
    font-weight: 400;
}

.sizeH4{
    font-size: 14px;
    font-weight: 700;
}

.sizeH5{
    font-size: 13px;
    font-weight: 700;
}

.sizeH6{
    font-size: 12px;
    font-weight: 700;
}

.sizeSousTitre{
    font-size: 10px;
    font-weight: 400;
}

.logoNav{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 115px;
}

.blocNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    width: 90%;
    height: 19px;
}

.nav1{
    width: 35%;
    height: 19px;
    padding: 0;
}

.nav2{
    width: 35%;
    height: 19px;
    padding: 0;
}

.barreNav {
    border-bottom: 1px solid transparent;
}
  
.barreNav:hover {
    border-bottom: 1px solid #0065fc;
    cursor: pointer;
}
  
.barreNav:hover > a {
    color: #0065fc;
}

.blocLogo{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    width: 121.09px;
    height: 79px;
}

.mobileH1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 0;
}

.mobile{
    margin-top: 10px;
    margin-bottom: 0;
}

.H4Mobile{
    margin-top: 20px;
    margin-bottom: 0;
}

.flexMobile{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.barreDeRecherche{
    width: 100%;
    height: 35px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 25px;
}

.recherche{
    font-size: 14px;
    border: 2px solid #f2f2f2;
}

.tailleMobile{
    height: 35px;
}

.tailleIcon{
    width: 35px;
}

#filtre{
    margin-top: 20px;
}

.blocTexteIcon{
    width: 140px;
    height: 40px;
}

#info{
    margin-top: 20px;
}

#hebergementsPopulaires{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 106%;
    margin-top: 20px;
}

.margeMobile{
    margin: 20px;
}

.bloc3cartes{
    width: 100%;
    height: auto;
    gap: 20px;
}

.cardPop{
    width: 90%;
    height: 110px;
}

.populaires{
    width: 100%;
    padding-bottom: 30px;
}

.hebergements{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.cardH{
    width: 90%;
    height: 180px;
}

.bloc1{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
}

.bloc2{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
}

.cardH{
    width: 95%;
}

.mobileP{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

#activites{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 10px;
}

.mobileAct{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.card{
    width: 100%;
}

.cardAct{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
}

.cardAct-content{
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 20px 20px;
}

.cadre{
    width: 100%;
    height: 141px;
}

.cardAct-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.footer{
    flex-direction: column;
    width: 110%;
    margin-top: 40px;
    padding: 0;
}

.blocFoot{
    width: 100%;
}

}
  
